<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469144569195-8u14cvurfbj2jcl9368ro2vtlmc8ige5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469144569195-8u14cvurfbj2jcl9368ro2vtlmc8ige5</string>
	<key>API_KEY</key>
	<string>AIzaSyBE3IXiZWRLKhExu5fPLR4jC64ccKug7yI</string>
	<key>GCM_SENDER_ID</key>
	<string>469144569195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.karthik.todoSlayer</string>
	<key>PROJECT_ID</key>
	<string>todoslayer-3810a</string>
	<key>STORAGE_BUCKET</key>
	<string>todoslayer-3810a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469144569195:ios:778792b74572ed8fe6b82e</string>
	<key>DATABASE_URL</key>
	<string>https://todoslayer-3810a.firebaseio.com</string>
</dict>
</plist>